.main-title-container {
    text-align: center;
}
.top-skins-list-container {
    position: relative;
    width: 90%;
    border-radius: 5px;
    border: 1px solid rgb(200, 199, 199);
    margin: auto;
}
.top-skins-list-container .top-search {
    padding: 15px;
    border: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#home #all-skins-main-container {
    display: flex;
    flex-direction: column;
}
#home #all-skins-main-container .champion-skins-main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.champion-title-container > h3 {
    margin: 20px 0 10px 10px;
    font-size: 35px;
}
#home #all-skins-main-container .champion-skins-main-container .champion-skins-container {
    display: flex;
    flex-wrap: wrap;
}
#home #all-skins-main-container .champion-skins-main-container .champion-skins-container .champion-skin-card {
    text-align: center;
    background-color: #21181C;
    border-radius: 5px;
    margin: 10px;
    width: 270px;
    height: 350px;
    color: white;
}
#home #all-skins-main-container .champion-skins-main-container .champion-skins-container .champion-skin-card > img{
    object-fit: cover;
    object-position: 50% 0%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 80%;
}